/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Header styles */
header {
    background-color: #f8f9fa;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#title-logo {
    display: flex;
    flex-direction: row;
}

.logo {
    max-width: 100px;
    height: auto;
    margin-right: 20px;
}

.title-container {
    display: inline-flex;
    flex-direction: column;
}

.title-container h1 {
    margin: 0;
    font-size: 1.8rem;
    color: #333;
}

.title-container p {
    margin: 0;
    font-size: 1rem;
    color: #777;
}

.social-links ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.social-links li {
    margin-left: 15px;
}

.social-links a {
    color: #007bff;
    text-decoration: none;
    font-size: 1rem;
}

.social-links a:hover {
    text-decoration: underline;
}

/* Navegación principal */
.main-nav {
    background-color: royalblue;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.main-nav li {
    margin: 0 15px;
}

.main-nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 3.75px 15px;
    transition: background-color 0.3s ease;
}

.main-nav a:hover {
    background-color: #004c98;
}

/* Footer styles */
footer {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 5px 0;
    color: #777;
}

footer .social-links ul {
    justify-content: center;
}

/* Contenido principal */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.buscador input {
    width: 48%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
}

/* Tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table caption {
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 5px;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

td[contenteditable] {
    background-color: #fffbcc;
}

.delete-row {
    background-color: #ff6666;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-row:hover {
    background-color: #d65454;
}

.add-row {
}

.add-row button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.add-row button:hover {
    background-color: #2e7031;
}

.nose {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.tabla-buttons {
    display: flex;
    justify-content: space-between;
    border-bottom: ridge;
    margin-bottom: 40px;
    padding-bottom: 10px;
    flex-wrap: wrap;
}

.tabla-buttons button, .tabla-buttons span {
    margin-bottom: 10px;
}

/* Contenedor de cálculos */
.calculo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff; /* Fondo claro por defecto */
    border-radius: 5px;
}

.calculo-container span {
    background-color: #e8e8e8;
    padding: 5px 15px;
}

/* Fondo negro para el modo oscuro */
.dark-mode .calculo-container {
    background-color: #121212; /* Fondo negro */
}

/* Botones de calcular en ambos modos */
#calcular-pappi,
#calcular-pappi-necesario {
    background-color: #cccccc; /* Fondo gris claro por defecto */
    color: #000; /* Texto negro por defecto */
    border: none;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
}

#calcular-pappi:hover,
#calcular-pappi-necesario:hover {
    background-color: #999999; /* Fondo gris más oscuro en hover */
}

/* Estilos específicos para el modo oscuro */
.dark-mode #calcular-pappi,
.dark-mode #calcular-pappi-necesario {
    background-color: #333333; /* Fondo oscuro */
    color: #ffffff; /* Texto blanco */
}

.dark-mode #calcular-pappi:hover,
.dark-mode #calcular-pappi-necesario:hover {
    background-color: #4e4e4e; /* Fondo más oscuro en hover */
}

/* Estilo para el resultado */
#resultado-pappi {
    padding: 10px;
    background-color: #ffffff; /* Fondo blanco por defecto */
    color: #000; /* Texto negro por defecto */
    border: 1px solid #ddd; /* Borde gris claro por defecto */
}

/* Fondo negro para el resultado en modo oscuro */
.dark-mode #resultado-pappi {
    background-color: #2e2e2e; /* Fondo gris oscuro */
    color: #ffffff; /* Texto blanco */
    border: 1px solid #444444; /* Borde gris oscuro */
}

/* Alineación de los botones y resultado */
.dark-mode .calculo-container #resultado-pappi {
    margin-left: auto; /* Alinea el resultado a la derecha */
    margin-right: 0;
}


/* Descripción de Pappi */
.pappi-description {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    margin-top: 60px;
    text-align: justify;
}

/* Estilos generales para pantallas grandes */
.header-link {
    display: inline-block;
}

.search-bar {
    display: inline-block;
    width: 48%;
}

.table {
    width: 100%;
}

#resultado-pappi {
    padding: 5px;
    background-color: #f2f2f2;
}

.mobile-math {
    display: none;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    #title-logo {
        flex-direction: column;
        align-items: center;
    }

    header {
        flex-direction: column;
    }

    .logo {
        margin-right: 0;
    }

    .title-container {
        align-items: center;
    }

    /* Header: eliminar link en teléfonos */
    .social-links {
        display: none;
    }

    /* Buscadores uno sobre otro */
    .search-bar {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }

    /* Ajuste de la tabla */
    .table {
        display: block;
        width: 100%;
        overflow-x: auto;
    }

    .nose {
        justify-content: center;
    }

    .add-row {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .calculo-container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
    }

    .copiar {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .copiar button {
        margin-bottom: 10px;
        background-color: darkgray;
    }

    .calculo-container button {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .desktop-math {
        display: none;
    }

    .mobile-math {
        display: inherit;
    }
}

.dark-mode .calculo-container span {
    color: lightgray;
    background-color: #5b5b5b;
}

.calculo-container button {
    background-color: royalblue;
}

.calculo-container button:hover {
    background-color: #2c4eb5;
}

/* Estilos para deshabilitar la tabla */
.disabled {
    pointer-events: none;
    opacity: 0.3;
}

.buscador {
    width: 100%;
    position: relative;
    margin: 0 auto 20px auto; /* Combina los márgenes */
    display: flex;
    justify-content: space-between;
}

#buscador-actividad {
    width: 100%;
    box-sizing: border-box; /* Asegura que padding y border no afecten el ancho total */
}

.copy-container {
    display: flex;
    flex-direction: column;
}

button {
    background-color: darkgray;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background-color: #5a5a5a;
}

/* Botón de modo oscuro */
#dark-mode-toggle {
    position: fixed; /* Fija el botón en la pantalla */
    bottom: 40px; /* Distancia desde el fondo de la pantalla */
    right: 20px; /* Distancia desde la derecha de la pantalla */
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

.dark-mode #dark-mode-toggle:hover {
    background-color: #c5c5c5;
}


/* Estilos globales en modo oscuro */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

.dark-mode a {
    color: #bb86fc;
}

.dark-mode a:hover {
    color: #bb86fc;
    text-decoration: underline;
}

/* Header styles en modo oscuro */
.dark-mode header {
    background-color: #1f1f1f;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.dark-mode .title-container h1 {
    color: #e0e0e0;
}

.dark-mode .title-container p {
    color: #bbbbbb;
}

/* Navegación principal en modo oscuro */
.dark-mode .main-nav {
    background-color: midnightblue;
}

.dark-mode .main-nav a {
    color: #ffffff;
    background-color: transparent;
}

.dark-mode .main-nav a:hover {
    background-color: #3c3c3c;
    text-decoration: none;
}

/* Footer styles en modo oscuro */
.dark-mode footer {
    background-color: #1f1f1f;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.5);
}

.dark-mode footer p {
    color: #bbbbbb;
}

.dark-mode .social-links a {
    color: #007bff;
}

/* Tabla en modo oscuro */
.dark-mode table {
    background-color: #1f1f1f;
}

.dark-mode th {
    background-color: #2e2e2e;
    color: #e0e0e0;
}

.dark-mode td {
    background-color: #2e2e2e;
    color: #e0e0e0;
}

.dark-mode td[contenteditable] {
    background-color: #4e4e4e;
}

/* Botones en modo oscuro */
.dark-mode .delete-row {
    background-color: #cf6679;
}

.dark-mode .delete-row:hover {
    background-color: #b04b54;
}

.dark-mode .copy-text,
.dark-mode #calcular-pappi,
.dark-mode #calcular-pappi-necesario {
    background-color: #333333;
    color: #e0e0e0;
}

.dark-mode .copy-text:hover,
.dark-mode #calcular-pappi:hover,
.dark-mode #calcular-pappi-necesario:hover {
    background-color: #4e4e4e;
}


/* Contenedor de cálculos en modo oscuro */
.dark-mode .calculo-container {
    background-color: #121212;
}

/* Descripción de Pappi en modo oscuro */
.dark-mode .pappi-description {
    background-color: #2e2e2e;
    color: #e0e0e0;
}

/* Botón de modo oscuro */
#dark-mode-toggle {
    position: fixed; /* Fija el botón en la pantalla */
    bottom: 20px; /* Distancia desde el fondo de la pantalla */
    right: 20px; /* Distancia desde la derecha de la pantalla */
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

#dark-mode-toggle:hover {
    background-color: #555;
}

/* Modo oscuro para pantallas pequeñas */
@media (max-width: 768px) {
    .dark-mode .title-container h1 {
        color: #e0e0e0;
    }

    .dark-mode .title-container p {
        color: #bbbbbb;
    }

    /* Otros ajustes se mantienen similares a los originales, pero con los colores adaptados */
}

/* Deshabilitar tabla en modo oscuro */
.dark-mode .disabled {
    pointer-events: none;
    opacity: 0.5;
}

/* Estilo para los inputs de búsqueda en modo oscuro */
.dark-mode .buscador input {
    background-color: #777; /* Fondo gris claro */
    color: #ffffff; /* Letras blancas */
    border: 1px solid #000000; /* Borde más oscuro */
}

.dark-mode #buscador-actividad {
    background-color: #777;
    color: #ffffff;
    border: 1px solid #777;
}

/* Estilo de los textos de previsualización (placeholders) en modo oscuro */
.dark-mode ::placeholder {
    color: #ffffff; /* Letras blancas */
    opacity: 1; /* Asegura que el color sea completamente opaco */
}

/* Estilo específico para los input en modo oscuro */
.dark-mode input::placeholder {
    color: #ffffff; /* Letras blancas */
    opacity: 1;
}

.dark-mode .logo {
    filter: invert(.9
    );
}

#buscador {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

#suggestions {
    position: absolute;
    top: 100%;
    left: 160px;
    right: 190px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
    max-width: 500px;
}

#suggestions ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#suggestions li {
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

#suggestions li:hover {
    background-color: #f0f0f0;
}

/* Estilo para la tabla */
#tabla-asignaturas {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#tabla-asignaturas th, #tabla-asignaturas td {
    border: 1px solid #ddd;
    padding: 8px;
}

#tabla-asignaturas th {
    background-color: #f2f2f2;
    text-align: left;
}

/* Estilo para la tabla en modo oscuro */
.dark-mode #tabla-asignaturas {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.dark-mode #tabla-asignaturas th, .dark-mode #tabla-asignaturas td {
    border: 1px solid #ddd;
    padding: 8px;
}

.dark-mode #tabla-asignaturas th {
    background-color: #333; /* Fondo gris oscuro */
    color: #fff; /* Color del texto blanco */
    text-align: left;
}

.delete-row {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 4px;
}

.delete-row:hover {
    background-color: #ff1a1a;
}

.buscador {
    width: 100%; /* Ocupa todo el ancho de pantalla */
}

.buscador select {
    width: 100%; /* Ocupa todo el ancho de pantalla */
    box-sizing: border-box; /* Ajusta el ancho para incluir padding y border */
    padding: 10px; /* Agrega un padding para que no se vea tan ajustado */
}