/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h2 {
    font-size: large;
    text-align: center;
    color: #7f98e4;
}

/* Header */
.header {
    background-color: #2f4ca4;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-container {
    display: flex;
    align-items: center;
}

.header__logo {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.header__title-container {
    line-height: 1;
}

.header__title {
    font-size: 48px;
    margin: 0;
}

.header__subtitle {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.header__social-links {
    display: flex;
    align-items: center;
}

.social-links__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.social-links__item {
    margin-left: 15px;
}

.social-links__item a {
    color: white;
    text-decoration: none;
}

.social-links__item a:hover {
    text-decoration: underline;
}

/* Main Navigation */
.main-nav {
    background-color: royalblue;
}

.main-nav__list {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.main-nav__item {
    margin: 0 15px;
}

.main-nav__item a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: small;
}

.main-nav__item a:hover {
    text-decoration: underline;
}

/* Footer */
.footer {
    background-color: #2f4ca4;
    color: white;
    padding: 20px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__author {
    margin: 0;
}

.footer__social-links {
    margin-top: 10px;
}

.calculadora {
    display: flex;
    justify-content: center;
}

/* Calculadora Pappi */
.calculadora__sub {
    padding: 10px;
    background-color: white;
    margin: 60px 20px;
    border-radius: 5px;
    max-width: 460px;
    height: fit-content;
}

.calculadora__buscador-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.buscador {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: lightgray;
    color: white;
    cursor: pointer;
}

.buscador:hover {
    background-color: gray;
}

/* Estilos para el contenedor de sugerencias */
#add-list {
    background-color: #0e0e0ecf;
    overflow-y: auto;
    position: fixed;
    top: 5%;
    left: 5%;
    width: 85%;
    height: 70%;
    z-index: 1000;
    padding: 60px 30px;
    display: none;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    color: white;
}

#add-list button {
    background: #c0392b;
    padding: 10px 15px;
    border-radius: 7px;
    color: white;
    margin: 5px 0;
    border: none;
    cursor: pointer;
}

#add-list button:hover {
    background: #aa0000;
}

#add-list li {
    cursor: pointer;
    padding: 10px 15px;
    margin-top: px;
    border-radius: 5px;
    min-width: 200px;
    list-style-type: none;
}

#add-list li:hover {
    background: #4CAF50;
    color: white;
}

.add-row {
    display: flex;
    align-items: center;
}

.add-row__button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: max-content;
}

.add-row__button:hover {
    background-color: #45a049;
}

/* Table Styles */
.tabla {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.tabla__caption {
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
}

.tabla__head, .tabla__body {
    background-color: #f9f9f9;
}


.tabla__header {
    padding: 10px;
    text-align: left;
    background-color: #f2f2f2;
}

.delete-row {
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 20px;
    cursor: pointer;
}

.delete-row:hover {
    background-color: #c0392b;
}

/* Buttons */
.calculadora__buttons {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.copy-container {
    display: flex;
    align-items: center;
}

.copy-container__button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.copy-container__button:hover {
    background-color: #2980b9;
}

.calculo-container {
    display: flex;
    align-items: center;
    background: #f4f4f4;
    border-radius: 5px;
    padding-right: 15px;
}

.calculo-container__button {
    padding: 10px 20px;
    background-color: #f39c12;
    color: white;
    border: none;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
}

.calculo-container__button:hover {
    background-color: #e67e22;
}

.calculo-container__resultado {
    margin-left: 10px;
    max-width: 300px;
}

.mobile-math {
    display: none;
}

.sobre-description {
    background-color: white;
    padding: 15px;
    margin: 15px;
    border-radius: 15px;
}

/* Notation Description */
.pappi-description {
    margin-top: 20px;
}

#warning {
    color: #b4c3ed;
    max-width: 350px;
}

#warning p {
    margin: 0;
}

.calculo-container__resultado {
    color: gray;
}

/* Dark Mode */
.dark-mode-toggle {
    position: fixed;
    right: 20px;
    bottom: 10px;
    background-color: #0f1659;
    border-color: white;
    border-width: medium;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}


body.dark-mode {
    background-color: #4e4e4e;
}

body.dark-mode .calculadora__sub {
    background-color: #303030;
    color: #e0e0e0;
}

body.dark-mode .buscador {
    background-color: #303030;
    color: #e0e0e0;
    border: 1px solid #444;
}

body.dark-mode .header,
body.dark-mode .footer {
    background-color: #272727;
}

body.dark-mode .main-nav {
    background-color: #424242;
}

body.dark-mode .tabla__head {
    background-color: #2c2c2c;
}


body.dark-mode .tabla {
    background-color: #1c1c1c;
}

body.dark-mode .tabla__header {
    background-color: #1c1c1c;
}

body.dark-mode .tabla__body .tabla__row {
    background-color: #1c1c1c;
}


body.dark-mode .tabla__body td {
    background-color: #1c1c1c;
}

body.dark-mode .calculo-container {
    background-color: #1c1c1c;
}

body.dark-mode .add-row__button {
    background-color: #44bf49;
}

body.dark-mode .delete-row {
    background-color: #aa0000;
}

body.dark-mode .copy-container__button {
    background-color: #2078cf;
}

body.dark-mode .calculo-container__button {
    background-color: #e36a16;
}


body.dark-mode .sobre-description {
    background-color: #272727;
    color: white;
}

body.dark-mode .footer__dark-mode-toggle {
    color: #e0e0e0;
}

body.dark-mode .header__logo {
    filter: invert(.87);
}

/* Media Queries */
@media (max-width: 768px) {
    .main-nav__list {
        flex-direction: column;
        align-items: center;
    }

    .header {
        flex-direction: column;
    }

    .header__logo-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header__logo-container img {
        margin-right: unset;
    }

    .header__title-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header__social-links {
        display: none;
    }

    .calculadora {
        display: flex;
        flex-direction: column;
        margin: 25px 2px;
        align-items: center;
        justify-content: center;
    }

    /* Calculadora Pappi */
    .calculadora__sub {
        margin: 30px 5px;
        width: 100%;
    }

    .calculadora__buttons {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .calculadora__buscador-container {
        flex-direction: column;
        align-items: stretch;
    }

    .copy-container {
        margin-bottom: 20px;
    }

    .add-row__button {
        width: 100%
    }

    .calculadora__buttons {
        align-items: center;
    }

    .buscador {
        width: 100%;
        margin-bottom: 10px;
    }

    .desktop-math {
        display: none;
    }

    .mobile-math {
        display: block;
    }

    #add-list {
        top: 0%;
        left: 5%;
        width: 75%;
        height: 70%;
    }
}

.disabled {
    pointer-events: none;
    opacity: 0.1;
}

/* Estilos para cada sugerencia individual */
.suggestion-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Cambia el color de fondo cuando el mouse pasa sobre una sugerencia */
.suggestion-item:hover {
    background-color: #f0f0f0;
}

/* Último elemento sin borde inferior */
.suggestion-item:last-child {
    border-bottom: none;
}

.suggestionsSetVisible {
    display: block;
}

