/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Header styles */
header {
    background-color: #f8f9fa;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#title-logo {
    display: flex;
    flex-direction: row;
}

.logo {
    max-width: 100px;
    height: auto;
    margin-right: 20px;
}

.title-container {
    display: inline-flex;
    flex-direction: column;
}

.title-container h1 {
    margin: 0;
    font-size: 1.8rem;
    color: #333;
}

.title-container p {
    margin: 0;
    font-size: 1rem;
    color: #777;
}

.social-links ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.social-links li {
    margin-left: 15px;
}

.social-links a {
    color: #007bff;
    text-decoration: none;
    font-size: 1rem;
}

.social-links a:hover {
    text-decoration: underline;
}

/* Navegación principal */
.main-nav {
    background-color: #fdd7c9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.main-nav li {
    margin: 0 15px;
}

.main-nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px 15px;
    transition: background-color 0.3s ease;
}

.main-nav a:hover {
    background-color: #ff8e6c;
}

/* Footer styles */
footer {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 5px 0;
    color: #777;
}

footer .social-links ul {
    justify-content: center;
}

/* Contenido principal */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

/* Buscador */
.buscador {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    position: relative;
    border-bottom: outset;
}

.buscador input {
    width: 48%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
}

/* Tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table caption {
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 5px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

td[contenteditable] {
    background-color: #fffbcc;
}

.delete-row {
    background-color: #ff6666;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-row:hover {
    background-color: #d65454;
}

.add-row {

    display: flex;
    justify-content: flex-end;
    border-bottom: outset;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.add-row button {

    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.add-row button:hover {
    background-color: #2e7031;
}

.nose {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}


/* Contenedor de cálculos */
.calculo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.copiar {
    margin-bottom: 10px;
}

.calculo-container {
    margin-bottom: 10px;
}

#calcular-pappi, #calcular-pappi-necesario {
    background-color: #ccc;
    color: white;
    border: none;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
}

#calcular-pappi:hover {
    background-color: #939393;
}

#calcular-pappi-necesario:hover {
    background-color: #939393;
}

/* Botones de copia */
.copy-text {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
}

.copy-text:hover {
    background-color: #004c98;
}


/* Descripción de Pappi */
.pappi-description {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    margin-top: 60px;
    text-align: justify;
}

/* Estilos generales para pantallas grandes */
.header-link {
    display: inline-block;
}

.search-bar {
    display: inline-block;
    width: 48%;
}

.table {
    width: 100%;
}

#resultado-pappi {
    padding: 5px;
    background-color: #f2f2f2;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    #title-logo {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        margin-right: 0px;
    }

    .title-container {
        align-items: center;
    }

    /* Header: eliminar link en teléfonos */
    .social-links {
        display: none;
    }

    .main-nav {

    }

    /* Buscadores uno sobre otro */
    .search-bar {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }

    /* Ajuste de la tabla */
    .table {
        display: block;
        width: 100%;
        overflow-x: auto;
    }

    .nose {
        justify-content: center;
    }

    .calculo-container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
    }

    .copiar {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .copiar button {
        margin-bottom: 10px;
    }

    .calculo-container button {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

/* Estilos para deshabilitar la tabla */
.disabled {
    pointer-events: none;
    opacity: 0.3;
}
